<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>Bienvenido/a de vuelta, Juan 👋</h1>
    <div class="header-actions">
      </div>
  </header>

  <div class="widgets-grid">
    <div class="widget">
      <h4>Órdenes Total de Sucursales</h4>
      <h2>1</h2>
      <p>1 orden en promedio por día</p>
    </div>
    <div class="widget">
      <h4>Ingresos Total de Sucursales</h4>
      <h2>$10.500,00</h2>
      <p>$10.500,00 promedio Ingresos diarios</p>
    </div>
    </div>

  <div class="charts-section">
    <div class="chart-card">
      <h4>Ventas del 01/11 al 30/11</h4>
      </div>

    <div class="card">
      <h4>Productos con bajo stock</h4>
      </div>
  </div>

  <div class="tables-section">
    <div class="card">
      <h4>Últimas ventas de la sucursal</h4>
      </div>
  </div>
</div>