<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  
  
  
  <main>
   
    <div class="container-header">
      <div class="logo">
        <a href="/">
          <img id="logo" class="logo_img" src="/logonav.png" alt="Logo">
        </a>
      </div>
        <header>
          <div class="menu-toggle" (click)="toggleMenu()">
            <span class="span_nav" *ngIf="!isMenuActive">☰</span>
            <span class="span_nav" *ngIf="isMenuActive">✖</span>
          </div> 

          <nav id="menu" [ngClass]="{ 'active': isMenuActive }">
          <ul class="un-header">
            <ng-container *ngIf="isLoggedIn">
              <li><a routerLink="/users">Users</a></li>
              <li><a routerLink="/create">Create</a></li>
            </ng-container>
          </ul>

          </nav>
        </header>

    </div>
    <router-outlet></router-outlet>
    
 
  </main>
  
  
  <footer>
    <div class="footer-container">
      <div style="margin-right:15px;" class="footer-item" id="call-us">
        <img src="footer/callus.png" alt="Call Us Icon" class="footer-icon">
        <span class="white_effect">CALL US</span>
      </div>
    </div>
    
        <div class="footer-divider"></div>
        <a href="" 
        class="footer-item" 
        style="margin-left:15px; text-decoration: none;" 
        target="_blank" 
        rel="noopener noreferrer">
       <img src="footer/location.png" alt="Directions Icon" class="footer-icon">
       <span class="white_effect">DIRECTIONS</span>
     </a>
  </footer>
  
</body>
</html>