<div class="app-container">
  <app-sidebar></app-sidebar> 

  <main class="main-content">
    <div class="dashboard-header">
      <div class="top-nav">
        <div class="user-info">
          <span>Juan Perez</span>
          <img src="path/to/user-avatar.png" alt="User Avatar">
        </div>
        <div class="top-actions">
          <button class="btn btn-secondary">Cambio de sucursal</button>
          <button class="btn btn-danger">Cerrar turno</button>
          
          <a routerLink="/ventas/local" class="btn btn-primary">Vender</a>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </main>
</div>